@using TravelApplication.Models.Siniflar
@model List<Blog>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Test.cshtml";
}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>

<body>

<div class="header-banner">
<div class="wrap">
	<div class="banner">
		<div class="indent">
                <h2 class="indent-left margin-bot">Tatil Seyehat Bloğu</h2>		
				<div class="banner-left">
				   	<div class="con-text">
							<div class="grid1-img">
								<img src="~/web/images/glass.png" alt="">
							</div>
							<div class="grid1-desc">
								<p>Restaurantlar</p>
							</div>
							<div class="clear"></div>
					</div>
					<div class="con-text">
							<div class="grid1-img">
								<img src="~/web/images/flight.png" alt="">
							</div>
							<div class="grid1-desc">
								<p>Uçuşlar</p>
							</div>
							<div class="clear"></div>
					</div>
	<div class="con-text">
			<div class="grid1-img">
				<img src="~/web/images/group.png" alt="">
			</div>
			<div class="grid1-desc">
				<p>Yapılcak Şeyler</p>
			</div>
			<div class="clear"></div>
	</div>
	<div class="con-text">
			<div class="grid1-img">
				<img src="~/web/images/key.png" alt="">
			</div>
			<div class="grid1-desc">
				<p>Araba Kiralama</p>
			</div>
			<div class="clear"></div>
	</div>
   <div class="clear"></div>
</div>
<div class="header_bottom_right_images">

 <div class="slider"  style="width: 650px;"  >
	    <ul class="rslides" id="slider1">
            @foreach(var x in Model){
	      <li><img src= @x.BlogImage alt=""></li>
                                }
	    </ul>
    </div>
	       </div>                                        
	</div>
    <div class="clear"></div>
      </div>
      	<div class="clear"></div>
      </div>
      </div>
     <div class"content">
      	<div class="wrap">
      		<div class="wrapper">
      	<div class="con-top">
                    <h3> Tatil Seyehat Bloğuma Hoşgeldiniz</h3>
      		<p>
Tatilcilerin yol arkadaşı ve gezginlerin daimi başlangıç noktası olan Jolly ile harika bir yaz geçirebilir, muhteşem bir balayı yapabilir; maviliklere yelken açtıran gemi turları,keşiflerle dolu yurt dışı turları, Anadolu'yu gezdiren kültür turları ile her bütçeye ve zevke uygun tur seçenekleri arasından seçim yaparak içinizdeki keşfetme tutkusunun peşine düşebilirsiniz.

Tercih sizden, popüler tatil yerleri Jolly'den... Binlerce farklı destinasyonda dilediğiniz tatile çıkabilir, size uygun otel seçenekleri arasından tercih yapabilir ve seyahat planınızı sorunsuz bir şekilde gerçekleştirebilirsiniz.              </p>
      	</div>


      		<div class="grids">
      	<div class="box1">
                              <div class="padding">
                                    <h4>En Popüler Bloglar </h4>
                                 
                                    <ul class="list list-pad">
                                @foreach (var x in Model)
                                {
                                    <li class="list-bg">
                                        <span><img src="~/web/images/kugel_lila_preview.webp" alt=""></span>
                                        <a href="@Url.Action("BlogDetay", "Blog", new { id = x.ID })">@x.Baslık</a>
                                    </li>
                                }

                                       
                                    </ul>
                                    <a href="#" class="link1">See all hotels</a>
                                </div>
                        <div class="padding1">
                            <h4 class="begendigimyer">En Beğendiğim Yerler </h4>
                            <div class="box-left">
                                @foreach (var x in Model.Take(4))
                                {
                                
                                    <div class="bot-img">
                                        <img src="@x.BlogImage" alt="" />
                                    </div>
                                    <div class="bot-desc">
                                        <p>@x.Aciklama.Substring(0, 50)</p>
                                    </div>
                                    <div class="clear"></div>
                                    }
                            </div>
                        </div>

                        <div class="clear"></div>      
      	</div>
     </div>
      </div>
      </div></div>

</body>
</html>
